<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.last_name %> <%= user.first_name %>
  </p>

  <p>
    <strong>Point Increase:</strong>
    <%= user.get_amount_of_point_increase%>
  </p>
</div>
