<% content_for :title, "Editing hold point" %>

<h1>Editing hold point</h1>

<%= render "form", hold_point: @hold_point %>

<br>

<div>
  <%= link_to "Show this hold point", @hold_point %> |
  <%= link_to "Back to hold points", hold_points_path %>
</div>
